/* Asterisk selector set to override browser style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

/* Font Family */
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}


body {
    text-align: center;
    font-family: "Indie Flower", cursive;
    color: #d2691e;
    width: 100vw;
    height: 100vh;
   
}

/* Header */
#logo {
    border-radius: 40%;
    margin-top: 10%
}

header a {
    text-decoration: none;
}

h1 {
    color: #d2691e;
    font-size: 1.5em;
}

#get-started {
    color: #d2691e;
    font-size: 1em;
}

/* Main content*/ 

#question-container {
    margin: 5%;
    border-style: ridge;
    border-color: #d2691e;
    box-shadow: 0 0 10px 2px;
    height: 50vh;
}

.safari-question {
    font-weight: bold;
    border-bottom: 1px solid #d2691e;
    display: flex;
    justify-content: center;
    text-align: center;
}
#start-btn {
    background-color:darkolivegreen;
    border-style: ridge;
    border-color: #d2691e;
    box-shadow: 0 0 10px 2px;
    color: beige;
    margin: 0 5% 2%;
}
#start-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #556b2f;  
}

#next-btn {
    background-color: #556b2f;
    border-style: ridge;
    border-color: #d2691e;
    box-shadow: 0 0 10px 2px;
    color: beige;
    margin: 0 5% 2%;
}
#next-btn:hover {
    cursor: pointer;
    background-color: white;
    color: #556b2f;
}

.safari-quizAnimals {
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
}

.btn-box {
    display: grid;
    gap: 10%;
    margin: 10% 0;
 
}

.btn {
    background-color: #f19553;
    border-style: ridge;
    border-color: #d2691e;
    box-shadow: 0 0 10px 2px;
    color: beige;
    margin: 0 5% 2%;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: #d2691e;
}

/*
.safari-quizAnimals {
    display: none;
    position: absolute;
}*/

/* User Points */
.safari-points {
    display: flex;
    margin-left: 20px;
    font-size: medium;
    letter-spacing: 5px;
}