/* Asterisk selector set to override browser style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

/* Font Family */
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}


body {
    text-align: center;
    font-family: "Indie Flower", cursive;
    color: #d2691e;
    width: 100vw;
    height: 100vh;
   
}

/* Header */
#logo {
    border-radius: 40%;
    margin-top: 10%
}

header a {
    text-decoration: none;
}

h1 {
    color: #d2691e;
    font-size: 1.5em;
}

#get-started {
    color: #d2691e;
    font-size: 1em;
}

/* Main content*/ 

#question-container {
    margin: 5%;
    border-style: ridge;
    border-color: #d2691e;
    box-shadow: 0 0 10px 2px;
    height: 50vh;
}

.safari-question {
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5% 0;
}

.safari-quizAnimals {
    justify-items: center;
    padding: 5%;
}

#answer-clue {
    letter-spacing: 1.5px;
    color: #d2691e;   
}

#answer-clue:hover {
    cursor: pointer;
}

#answer-clue::after {
    content: attr(data-type);
}

/* User Points */
#checkAnswer {
    background-color: #d2691e;
    color: beige;
    font-family: inherit;
    width: 30%;
}
#checkAnswer:hover {
    background-color: white;
    color: #d2691e;
}
.safari-points {
    display: flex;
    margin-left: 20px;
    font-size: medium;
    letter-spacing: 5px;
    font-weight: bold;
}