/* Asterisk selector set to override browser style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

/* Font Family */
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}


body {
    text-align: center;
    font-family: "Indie Flower", cursive;
    color: #d2691e;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

/* Header */
#logo {
    border-radius: 40%;
    margin-top: 10%
}

header a {
    text-decoration: none;
}

h1 {
    color: #d2691e;
    font-size: 1.5em;
}

#get-started {
    color: #d2691e;
    font-size: 1em;
}

/* Main content*/ 
.play-area {

    border-style: ridge;
    border-color: #d2691e;
    width: 800px;
    max-width: 80%;
    box-shadow: 0 0 10px 2px;
}

.btn-box {
    display: grid;
    gap: 10%;
    margin: 10% 0;
 
}

.btn {
    background-color: #f19553;
    border-style: ridge;
    border-color: #d2691e;
    box-shadow: 0 0 10px 2px;
    color: beige;
    margin: 0 5% 2%;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: #d2691e;
}

.safari-answerLine > p {
    display: none;
}
/*.safari-answerLine {
    font-size: 1em;
    position: absolute;
    left: 100px;
    bottom: 320px;
    border-radius: 10px;
}

button {
    position: absolute;
    bottom: 35%;
    left: 35%;
    border-radius: 10px;
    background-color: chocolate;
    font-size: 1em;
}

.safari-quizAnimals {
    display: none;
    position: absolute;
}*/

/* User Points */
.safari-points {
    display: flex;
    margin-left: 20px;
    font-size: medium;
    letter-spacing: 5px;
}